.colTitle {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid;
}

.none {
  display: none !important;
}

.task {
  text-align: center;
  border: 2px solid #888;
  border-radius: 3rem;
  color: #fff;
  font-family: roboto;
  overflow: hidden;
  padding: 1rem 2rem;
  margin: 10px 0 !important;
  width: 90% !important;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task::after {
  background-color: #888;
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.task:hover::after {
  transform: translate(0, 0);
}

.task:hover {
  border: 2px solid transparent;
  color: #fff;
  transform: scale(1.05);
  will-change: transform;
}

.lightTask {
  color: #000;
}
